{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Catalogue {% endblock %}

{% block navigation %}
    <h3 class ="navbarTitle">Catalogue</h3>
    <div>
        <a class="itemNavbar" id = "catalog" href="{{ path ('mp_cmediatheque_nouveaute') }}" title ="nouveautés"><i class="fa fa-plus-square-o" aria-hidden="true"></i><span id ="news"> Nouveautés</span></a>
        <a class="itemNavbar" id="catalog" href="{{ path ('mp_cmediatheque_homepage') }}" title ="accueil"><i class="fa fa-home" aria-hidden="true"></i><span id ="home"> Accueil</span></a>             
    </div>
{% endblock %}

{% block body %}
    <h3 class="smallTitle">Catalogue</h3>
    {% for ouvrage in ouvrages %}
        <div class ="catalogContainer">
            <div class ="catalogFiche">
                <div id ="catalogPhoto">
                    <a href="{{ path('mp_cmediatheque_catalogue', { 'id': ouvrage.id }) }}"> <img class="photoTitre" src="{{ ouvrage.photo }}"height = "190" width ="150"></a>
                </div>                        
                <div class ="catalogInfo">                        
                    <p><a id="catalogTitle" href="{{ path('mp_cmediatheque_catalogue', { 'id': ouvrage.id }) }}">{{ ouvrage.titre }} </a></p>
                    <p id ="catalogAuthor"> {{ouvrage.auteur.prenom}} {{ouvrage.auteur.nom}} </p>  
                </div>
                <div class ="catalogBtn">
                    {% if is_granted("ROLE_USER") and not is_granted("ROLE_ADMIN") %}

                        {% set reserved = false %}
                        {% set borrowed = false %}

                        {% for dispo in dispos %}
                            {% if dispo.ouvrage == ouvrage %}
                                {% set reserved = true %}
                            {% endif%}
                        {% endfor%}
                        {% if reserved %}
                            <p id ="indispo">Indisponible</p>
                        {% else %}                        
                            <p id="catalogReserv"><a href="{{ path('mpc_reservation', {'id': ouvrage.id }) }}">Réserver</a></p>
                        {% endif %}
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <p><a id="editCatalogue" href="#">éditer l'article</a></p>
                        <p><a id ="eraseCatalogue" href="#">supprimer l'article</a></p>               
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
{% block hours %}
{% endblock %}

