{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Catalogue {% endblock %}

{% block navbar %}
    <div id="logo"><a href="http://www.pleyber-christ.fr"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/contenu_logo_pleyber.gif" alt="Pleyber-Christ  - Logo"/></a> 
    </div>

    <div>
        <ul id ="homeNavBar">
            <li><a class="itemNavbar"  href="#">Cadre de vie</a></li>
            <li><a class="itemNavbar"  href="#">Vie municipale</a></li>
            <li><a class="itemNavbar" href="#">Vie locale et sociale</a></li>
            <li><a class="itemNavbar" href="#">Vie associative et culturelle</a></li>
            <li><a class="itemNavbar" href="#">Liens</a></li>
            <li><a class="itemNavbar" href="#">Economie</a></li>
            <li class="logButtons"><a class="itemNavbar" href="../">Revenir à l'accueil</a></li>             
        </ul>
    </div>
{% endblock %}

{% block body %}
    <h1>Catalogue</h1>

    <table>
        <thead>
            <tr>
                <th>Aperçu</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Annee</th>
                <th>Genre</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for ouvrage in ouvrages %}
                <tr>
                    <td><img class="photoTitre" src="{{ ouvrage.photo }}"height = "190" width ="150"</td>
                    <td><a href="{{ path('mp_cmediatheque_catalogue', { 'id': ouvrage.id }) }}">{{ ouvrage.titre }} </a></td>
                    <td>{{ouvrage.auteur.prenom}} {{ouvrage.auteur.nom}} </td>
                    <td>{{ ouvrage.annee }} </td>
                    <td>{{ ouvrage.genre.nom }} </td>
                    <td>{% if ouvrage.date %}{{ ouvrage.date|date('Y-m-d') }}{% endif %} </td>
                    <td>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <ul> 
                                <li id="editCatalogue">
                                    <a href="#">éditer</a>
                                </li>
                            </ul>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <ul>
            <li id="editCatalogue">
                <a href="#">Ajouter un ouvrage au catalogue</a>
            </li>
        </ul>
    </div>
{% endblock %}
