{% extends 'base.html.twig' %}

{% block navigation %}
    <h3 class ="navbarTitle">Liste des réservations</h3>
    <a class="itemNavbarMedia" id = "catalog" href="{{ path ('mp_cmediatheque_catalogue') }}"><i class="fa fa-book" aria-hidden="true"></i><span id="cata"> Catalogue</span></a>
    <a class="itemNavbarMedia" id = "catalog" href="{{ path ('mp_cmediatheque_nouveaute') }}"><i class="fa fa-plus-square-o" aria-hidden="true"></i><span id ="news"> Nouveautés</span></a>
    <a class="itemNavbar" id="catalog" href="{{ path ('mp_cmediatheque_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>             
{% endblock %}
{% block body %}


    {% for listeResa in listeResa %}
        <ul>
            <li><img class="photoTitre" src="{{ listeResa.ouvrage.photo }}"height = "190" width ="150"{{ listeResa.ouvrage.titre }}</li>
            <li>Réservé par {{ listeResa.utilisateur.username }}</li>
            <li> date de réservation : {{ listeResa.date|date("d/m/Y") }}</li>
            <li><a href ="{{path('mpc_emprunt', { 'id': listeResa.id })}}">Valider l'emprunt</a></li>
        </ul>
    {% endfor %}
{% endblock %}
{% block hours %}{% endblock %}