{% extends 'base.html.twig' %}


{% block body %}
    <h1>Liste des réservations</h1>

    {% for listeResa in listeResa %}
        <ul>
            <li><img class="photoTitre" src="{{ listeResa.ouvrage.photo }}"height = "190" width ="150"{{ listeResa.ouvrage.titre }}</li>
            <li>Réservé par {{ listeResa.utilisateur.username }}</li>
            <li> date de réservation : {{ listeResa.date|date("d/m/Y") }}</li>
            <li><a href ="{{path('mpc_emprunt', { 'id': listeResa.id })}}">Valider l'emprunt</a></li>
        </ul>
    {% endfor %}
{% endblock %}
{% block hours %}
{% endblock %}