{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Catalogue {% endblock %}

{% block navbar %}
</div>

<div>
    <ul id ="homeNavBar">
        <li><a class="itemNavbar"  href="#">Cadre de vie</a></li>
        <li><a class="itemNavbar"  href="#">Vie municipale</a></li>
        <li><a class="itemNavbar" href="#">Vie locale et sociale</a></li>
        <li><a class="itemNavbar" href="#">Vie associative et culturelle</a></li>
        <li><a class="itemNavbar" href="#">Liens</a></li>
        <li><a class="itemNavbar" href="#">Economie</a></li>
        <li><a class="itemNavbar" id="catalog" href="../">Revenir à l'accueil</a></li>             
    </ul>
</div>
{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Aperçu</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Ajouté le</th>
            </tr>
        </thead>
        <tbody>
            {% for ouvrage in ouvrages %}
                <tr>
                    <td><img class="photoTitre" src="{{ ouvrage.photo }}"height = "190" width ="150"</td>
                    <td><a href="{{ path('mp_cmediatheque_catalogue', { 'id': ouvrage.id }) }}">{{ ouvrage.titre }} </a></td>
                    <td>{{ouvrage.auteur.prenom}} {{ouvrage.auteur.nom}} </td>  
                    <td>{{ouvrage.date|date("m/d/Y")}}</td>  

                    {% if is_granted("ROLE_USER") and not is_granted("ROLE_ADMIN") %} {% set reserve = false %}
                        {% for dispo in dispos %}
                            {% if dispo.ouvrage == ouvrage %}
                                {% set reserve = true %}
                            {% endif%}
                        {% endfor%}
                        {% if reserve %}
                            <td>Indisponible</td>
                        {% else %}          
                            <td><a href="{{ path('mpc_reservation', {'id': ouvrage.id }) }}">Réserver</a></td>
                        {% endif %}
                    {% endif %}
                    <td>
                        {% if is_granted("ROLE_ADMIN") %}
                            <ul> 
                                <li id="editCatalogue">
                                    <a href="#">éditer l'article</a>
                                </li>                        
                                <li id="editCatalogue">
                                    <a href="#">supprimer l'article</a>
                                </li>                        
                            </ul>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block hours %}
{% endblock %}
