{% extends 'base.html.twig' %}

{% block navigation %}
    <h3 class ="navbarTitle">Mes réservations</h3>
    <a class="itemNavbarMedia" id = "catalog" href="{{ path ('mp_cmediatheque_catalogue') }}"><i class="fa fa-book" aria-hidden="true"></i><span id="cata"> Catalogue</span></a>
    <a class="itemNavbarMedia" id = "catalog" href="{{ path ('mp_cmediatheque_nouveaute') }}"><i class="fa fa-plus-square-o" aria-hidden="true"></i><span id ="news"> Nouveautés</span></a>
    <a class="itemNavbar" id="catalog" href="{{ path ('mp_cmediatheque_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>             
{% endblock %}

{% block body %}
    {% for reservation in reservation %}
        <ul>
            <li><img class="photoTitre" src="{{ reservation.ouvrage.photo }}"height = "190" width ="150"></li>
            <li>{{ reservation.ouvrage.titre }}</li>
            <li>réservé le {{ reservation.date|date("m/d/Y") }}</li>
        </ul>
    {% endfor %}
{% endblock %}
{% block hours %}{% endblock %}