{% extends 'base.html.twig' %}

{% block navigation %}
    <h3 class ="navbarTitle">Mes réservations</h3>
    <div>
        <a class="itemNavbar" id="navBtn" href="{{ path ('mpc_homepage') }}" title ="accueil"><i class="fa fa-home" aria-hidden="true"></i><span id ="home"> Accueil</span></a>             
    </div>
{% endblock %}

{% block body %}
        <h3 class="smallTitle">Mes réservations</h3>

    {% for reservation in reservation %}
        <div class ="catalogContainer">
            <div class ="catalogFiche">
                <div id ="catalogPhoto">
                    <img class="photoTitre" src="{{ reservation.ouvrage.photo }}"height = "190" width ="150">
                </div>
                <div class ="catalogInfo">                        
                    <p id="catalogTitle">{{ reservation.ouvrage.titre }}</p>
                    <p id="catalogAuthor">{{ reservation.ouvrage.auteur.prenom }}{{ reservation.ouvrage.auteur.nom }}</p>
                </div>
                <div class ="catalogBtn">
                    <p> réservé le {{ reservation.date|date("d/m/Y") }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block hours %}{% endblock %}

