{% extends 'base.html.twig' %}

{% block navigation %}
    <h3 class ="navbarTitle">Mes emprunts</h3>
    <div>
        <a class="itemNavbar" id="navBtn" href="{{ path ('mpc_homepage') }}" title ="accueil"><i class="fa fa-home" aria-hidden="true"></i><span id ="home"> Accueil</span></a>
    </div>
{% endblock %}
{% block body %}
        <h3 class="smallTitle">Mes emprunts</h3>

    {% for emprunt in emprunts %}
        <div class ="catalogContainer">
            <div class ="catalogFiche">
                <div id ="catalogPhoto">
                    <img class="photoTitre" src="{{ emprunt.ouvrage.photo }}"height = "190" width ="150">
                </div>
                <div class ="catalogInfo">                        
                    <p id="catalogTitle">{{ emprunt.ouvrage.titre }}</p>
                    <p id="catalogAuthor">{{ emprunt.ouvrage.auteur.prenom }} {{ emprunt.ouvrage.auteur.nom }}</p>
                </div>
                <div class="catalogBtn">
                    <p> emprunté le {{ emprunt.dateEmprunt|date("d/m/Y") }}</p>
                    <p> à rendre avant le {{ emprunt.dateRetour|date("d/m/Y") }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block hours %}{% endblock %}
