<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
        <meta charset="UTF-8" />
        <title>{% block title %}Pleyber-Christ{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"  media="screen">
</head>

<div id="logo"><a href="{{ path ('mp_cmediatheque_homepage') }}"><img src="../Images/logo.gif" alt="Pleyber-Christ  - Logo"/></a></div>
        {% block navbar %}

    <div class="navBarMedia">
        <div class="navMedia">
            <button class="menuBtn"><span id="menu">Menu</span><i class="fa fa-bars" id ="menuSmall" aria-hidden="true"></i></button>
            <div class="content">
                <a href="#">Cadre de vie</a>
                <a href="#">Vie municipale</a>
                <a href="#">Vie locale et sociale</a>
                <a href="#">Vie associative et culturelle</a>
                <a href="#">Liens</a>
                <a href="#">Economie</a>
            </div>
        </div>
        {% block navigation %}
        <h3 class ="navbarTitle">Médiathèque de Pleyber-Christ</h3>
        <div>
           <a class="itemNavbar" id = "catalog" href="{{ path ('mp_cmediatheque_catalogue') }}" title ="catalogue"><i class="fa fa-book" aria-hidden="true"></i><span id="cata"> Catalogue</span></a>
           <a class="itemNavbar" id = "catalog" href="{{ path ('mp_cmediatheque_nouveaute') }}"title ="nouveautés"><i class="fa fa-plus-square-o" aria-hidden="true"></i><span id ="news"> Nouveautés</span></a>
        </div>
        {% endblock %}
        
        <div class="profilSmall">
            <button class="profilBtn"><i class="fa fa-user-circle-o" aria-hidden="true"></i></button>
            <div class="profilContent">
                {% if is_granted("ROLE_USER") and not is_granted("ROLE_ADMIN") %}
                    <li><a class="itemContact" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                    <li><a class="itemContact" href="{{ path('mpc_userListeReservations') }}"> Mes réservations</a></li>
                    <li><a class="itemContact" href="{{ path('mpc_userListEmprunt') }}"> Mes emprunts</a></li>
                    <li><a class="itemContact" href="#"> Mon profil</a></li>

                {% elseif is_granted("ROLE_ADMIN") %}
                    <li><a class="itemContact" href="{{ path('fos_user_security_logout') }}"> Se déconnecter</a></li>
                    <li><a class="itemContact" href="{{ path('mpc_listeReservations')}}"> Liste des réservations</a></li>
                    <li><a class="itemContact" href="{{ path('mpc_listeEmprunt')}}"> Liste des emprunts</a></li>
                    <li><a class="itemContact" href="#"> Ajouter un ouvrage au catalogue</a></li>

                {% else %}
                    <li><a class="itemContact" href="{{ path ('mp_cmediatheque_login') }}"> Se connecter</a></li>
                    <li><a class="itemContact" href="{{ path ('mp_cmediatheque_register') }}"> S'inscrire</a></li>
                    <li><a class="itemContact" href="#">contact/infos</a></li>
                    {%  endif %}
            </div>
        </div>
    </div>

{% endblock %}

<div id="flexBig">
    <div id="leftBlock">
        {% block body %}
        {% endblock %}
    </div>
    <div id="rightBlock">        
        <div>
            <ul id="blockContact">
                {% if is_granted("ROLE_USER") and not is_granted("ROLE_ADMIN") %}
                    <li><a class="itemContact" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>Se déconnecter</a></li>
                    <li><a class="itemContact" href="{{ path('mpc_userListeReservations') }}"><i class="fa fa-address-book-o" aria-hidden="true"></i> Mes réservations</a></li>
                    <li><a class="itemContact" href="{{ path('mpc_userListEmprunt') }}"><i class="fa fa-address-book" aria-hidden="true"></i> Mes emprunts</a></li>
                    <li><a class="itemContact" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Mon profil</a></li>

                {% elseif is_granted("ROLE_ADMIN") %}
                    <li><a class="itemContact" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Se déconnecter</a></li>
                    <li><a class="itemContact" href="{{ path('mpc_listeReservations')}}"><i class="fa fa-list" aria-hidden="true"></i> Liste des réservations</a></li>
                    <li><a class="itemContact" href="{{ path('mpc_listeEmprunt')}}"><i class="fa fa-list" aria-hidden="true"></i> Liste des emprunts</a></li>
                    <li><a class="itemContact" href="#"><i class="fa fa-plus" aria-hidden="true"></i></i> Ajouter un ouvrage au catalogue</a></li>

                {% else %}
                    <li><a class="itemContact" href="{{ path ('mp_cmediatheque_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Se connecter</a></li>
                    <li><a class="itemContact" href="{{ path ('mp_cmediatheque_register') }}"><i class="fa fa-user-plus" aria-hidden="true"></i> S'inscrire</a></li>
                    {%  endif %}
            </ul>
        </div>
        {% block hours %}
            <div class="blockHours">
                <h3>Horaires d'ouverture</h3>
                <table>    
                    <tr>
                        <td>lundi</td>
                        <td>Fermé</td>
                    </tr>
                    <tr>
                        <td>mardi</td>
                        <td>15:00–19:00</td>
                    </tr>
                    <tr>
                        <td>mercredi</td>
                        <td>10:00–18:00</td>
                    </tr>
                    <tr>
                        <td>jeudi</td>
                        <td>15:00–19:00</td>
                    </tr>
                    <tr>
                        <td>vendredi</td>
                        <td>15:00–19:00</td>
                    </tr>
                    <tr>
                        <td>samedi</td>
                        <td>10:00–17:00</td>
                    </tr>
                    <tr>
                        <td>dimanche</td>
                        <td>Fermé</td>
                    </tr>
                </table>
            </div>
        {% endblock %}
    </div>
</div>



{% block footer %}
    <footer>
        <div id ="footer">Mairie - Square Anne de Bretagne - 29410 Pleyber-Christ<br/> Tél : 02 98 78 41 67 | Mail : <a href="mailto:pleyber.christ-mairie@wanadoo.fr">pleyber.christ-mairie@wanadoo.fr</a>
        </div>   
    </footer>
{% endblock %}

{% block javascripts %}

{% endblock %}
</html>
