<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
        <meta charset="UTF-8" />
        <title>{% block title %}Pleyber-Christ{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"  media="screen">
</head>

<div id="logo"><a href="{{ path ('mp_cmediatheque_homepage') }}"><img src="../Images/logo.gif" alt="Pleyber-Christ  - Logo"/></a></div>
        {% block navbar %}

    <div>
        <ul id ="homeNavBar">
            <li><a class="itemNavbar" href="#">Cadre de vie</a></li>
            <li><a class="itemNavbar" href="#">Vie municipale</a></li>
            <li><a class="itemNavbar" href="#">Vie locale et sociale</a></li>
            <li><a class="itemNavbar" href="#">Vie associative et culturelle</a></li>
            <li><a class="itemNavbar" href="#">Liens</a></li>
            <li><a class="itemNavbar" href="#">Economie</a></li>
            <li><a class="itemNavbar" id="catalog" href="{{ path ('mp_cmediatheque_catalogue') }}">Catalogue</a></li>
            <li><a class="itemNavbar" id="catalog" href="{{ path ('mp_cmediatheque_nouveaute') }}">Nouveautés</a></li>
        </ul>
    </div>

    <div class="navBarMedia">
        <div class="navMedia">
            <button class="menuBtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <div class="content">
                <a class="itemNavbarMedia" href="#">Cadre de vie</a>
                <a class="itemNavbarMedia" href="#">Vie municipale</a>
                <a class="itemNavbarMedia" href="#">Vie locale et sociale</a>
                <a class="itemNavbarMedia" href="#">Vie associative et culturelle</a>
                <a class="itemNavbarMedia" href="#">Liens</a>
                <a class="itemNavbarMedia" href="#">Economie</a>
            </div>
        </div>
        <a class="itemNavbarMedia" id = "mediaCatalog" href="{{ path ('mp_cmediatheque_catalogue') }}">Catalogue</a>
        <a class="itemNavbarMedia" id = "mediaCatalog" href="{{ path ('mp_cmediatheque_nouveaute') }}">Nouveautés</a>
    </div>

{% endblock %}

<div id="flexBig">
    <div id="leftBlock">
        {% block body %}
        {% endblock %}
    </div>
    <div id="rightBlock">        
        <div>
            <ul id="blockContact">
                {% if is_granted("ROLE_USER") and not is_granted("ROLE_ADMIN") %}
                    <li><a class="itemContact" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i><p id ="myConnexion">Se déconnecter</p></a></li>
                    <li><a class="itemContact" href="{{ path('mpc_userListeReservations') }}"><i class="fa fa-address-book-o" aria-hidden="true"><p id="myReservation"></i> Mes réservations</p></a></li>
                    <li><a class="itemContact" href="{{ path('mpc_userListEmprunt') }}"><i class="fa fa-address-book" aria-hidden="true"><p id="myEmprunts"></i> Mes emprunts</p></a></li>
                    <li><a class="itemContact" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"><p id="myContact"></i> Contact</p></a></li>

                {% elseif is_granted("ROLE_ADMIN") %}
                    <li><a class="itemContact" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Se déconnecter</a></li>
                    <li><a class="itemContact" href="{{ path('mpc_listeReservations')}}"><i class="fa fa-list" aria-hidden="true"></i> Liste des réservations</a></li>
                    <li><a class="itemContact" href="{{ path('mpc_listeEmprunt')}}"><i class="fa fa-list" aria-hidden="true"></i> Liste des emprunts</a></li>
                    <li><a class="itemContact" href="#"><i class="fa fa-book" aria-hidden="true"></i> Ajouter un ouvrage au catalogue</a></li>

                {% else %}
                    <li><a class="itemContact" href="{{ path ('mp_cmediatheque_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Se connecter</a></li>
                    <li><a class="itemContact" href="{{ path ('mp_cmediatheque_register') }}"><i class="fa fa-user-plus" aria-hidden="true"></i> S'inscrire</a></li>
                    <li><a class="itemContact" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Contact</a></li>
                    {%  endif %}
        </div>
        {% block hours %}
            <div class="blockHours">
                <h3>Horaires d'ouverture</h3>
                <table>    
                    <tr>
                        <td>lundi</td>
                        <td>Fermé</td>
                    </tr>
                    <tr>
                        <td>mardi</td>
                        <td>15:00–19:00</td>
                    </tr>
                    <tr>
                        <td>mercredi</td>
                        <td>10:00–18:00</td>
                    </tr>
                    <tr>
                        <td>jeudi</td>
                        <td>15:00–19:00</td>
                    </tr>
                    <tr>
                        <td>vendredi</td>
                        <td>15:00–19:00</td>
                    </tr>
                    <tr>
                        <td>samedi</td>
                        <td>10:00–17:00</td>
                    </tr>
                    <tr>
                        <td>dimanche</td>
                        <td>Fermé</td>
                    </tr>
                </table>
            </div>
        {% endblock %}
    </div>
</div>



{% block footer %}
    <footer>
        <div id ="footer">Mairie - Square Anne de Bretagne - 29410 Pleyber-Christ<br/> Tél : 02 98 78 41 67 | Mail : <a href="mailto:pleyber.christ-mairie@wanadoo.fr">pleyber.christ-mairie@wanadoo.fr</a>
        </div>   
    </footer>
{% endblock %}

{% block javascripts %}
    <script>
        function navbarOpen() {
            document.getElementById("HomeNavbar").style.display = "block";
        }

        function navbarClose() {
            document.getElementById("HomeNavbar").style.display = "none";
        }
    </script>
{% endblock %}
</html>
